<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Login</title>
</head>

<body ng-controller="LoginCtrl">

  <div class="container">

    <form class="form-signin" name="signinForm" role="form">
      <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
        <input ng-model="user.email" type="email" name="email" class="form-control" placeholder="Email address" >
        <p class="help-block" ng-show="signinForm.email.$invalid">Enter a valid email.</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid }">
        <input ng-model="user.password" ng-minlength="8" type="password" name="password" class="form-control" placeholder="Password" >
        <p class="help-block" ng-show="signinForm.password.$error.minlength">Min password length is 8 characters.</p>
      </div>
        <label class="checkbox">
            <a ui-sref="register"> Sign Up<a/>
        </label>
        <button ladda-loading="login.loading" data-style="expand-right" ng-disabled="!user.email || !user.password" type="button" ng-click="SignIn($event)" class="btn btn-lg segoe-ui-light ladda-button btn-primary btn-block"><span class="ladda-label">Sign In</span></button>
    </form>
  </div>

</body>
</html>
